<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/main.css">
    <!-- <link rel="stylesheet" href="/css/product.css"> -->
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <form action="/success" method="POST" autocomplete="on">
        <label for="name">Enter your name : </label>
        <input type="text" name="name" id="name" required>
        <label for="email">Enter your email : </label>
        <input type="email" name="email" id="email" required>
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>